html {
  box-sizing: border-box;
  font-family: Roboto, Inter, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  background-color: #1f2937;
}

.header-wrapper {
  width: 60%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9fAf8;
  font-weight: bold;
}

.header .link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

